:root {
  --color-bg: #fff8f3;
  --color-primary: #fd6e0a;
  --section-heading: 2.2rem;
  --nav-heading: 3rem;
  --hero-name: 5.3em;
  --nav-link: 1.25rem;
  --regular-text: 1rem;
  --regular-text-color: #757575;
}

a,
li {
  all: unset;
}

a:hover {
  cursor: pointer;
  border-bottom: 1px solid #474747;
}

body {
  font-family: "open sans";
  margin: 0;
  padding: 0;
}

body > .developer {
  position: absolute;
  margin: 3vh 3vw;
}

nav {
  padding: 0 15vw;

  background: var(--color-bg);
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: var(--nav-heading);
  font-weight: bold;
}

span#navHeading {
  color: var(--color-primary);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  color: #474747;
  display: block;
  padding: 1rem 2rem;
  font-size: var(--nav-link);
  text-align: center;
  margin-left: 1rem;
}

p {
  color: var(--regular-text-color);
}

button {
  border: unset;
}

.hero-buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  background-color: #fd6e0a;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.download-btn:hover {
  background-color: #e5660a;
}

.contact-btn {
  background-color: #ffffff;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

.contact-btn:hover {
  background-color: #f8f8f8;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.btn .fa-solid {
  font-size: 1.25rem;
}

.fa-phone {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fd6e0a;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  margin: 1rem;
}

.skills .card {
  width: 10vw;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
}

.skill-detail {
  text-align: left;
}

.card img {
  left: 0;
  top: 0;
}

#hero {
  display: flex;
  height: 80vh;
  padding-left: 15vw;
  padding-right: 0;
  padding-top: 4vh;
  background: var(--color-bg);
  justify-content: space-between;
}
.hero-text {
  width: 40%;
}

.greeting {
  font-size: var(--nav-heading);
  font-weight: 600;
}

.hero-name {
  font-size: var(--hero-name);
}

.hero-image {
  position: relative;
  width: 60%;
  height: auto;
}

#background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}

#foreground {
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: 55px;
  width: 60%;
  height: auto;
}

#contact,
#portfolio {
  padding: 0 15vw;
}

#about {
  margin: 2rem 0;
  padding: 13rem;
  background: var(--color-bg);
}

#about .section {
  background: white;
  border: 1px solid black;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-value {
  font-weight: bold;
  color: #474747;
}

.section {
  text-align: center;
}

.section.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading h2 {
  margin-top: 10rem;
  font-size: var(--section-heading);
  font-weight: bold;
}

#about-heading {
  margin-top: unset;
}

.section-body,
.ed-ex {
  display: flex;
  justify-content: space-between;
}

.ed-ex-heading {
  margin-top: 5rem;
  padding: 0 3rem;
  font-size: 1.7rem;
}

.ed-ex .cards {
  display: block;
  text-align: left;
}

.ed-ex .card {
  border-bottom: 2px solid #d1d1d1;
  text-align: left;
}

.ed-ex .card:last-child {
  border-bottom: unset;
}

.ed-ex .card h3 {
  margin: unset;
  font-size: 1.6rem;
}

.ed-ex .card .card-head {
  margin-bottom: 0.6rem;
}

.ed-ex .card .card-head p {
  font-weight: 600;
  font-size: var(--nav-link);
}

#contact {
  margin-top: 10rem;
  padding: 0 15vw;
  background: var(--color-bg);
  display: flex;
  padding-bottom: 8vh;
  gap: 2rem;
  justify-content: space-between;
}

.social-media,
.email {
  width: 30vw;
}

.email {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  display: block;
  border: unset;
  margin: 1rem 0;
  padding: 1rem 2rem;
}

input#messege {
  height: 8vh;
}
