:root {
  --color-bg: #fff8f3;
  --color-primary: #fd6e0a;
  --hero-name: clamp(3.3rem, 4vw + 1.5rem, 5.3rem);
  --nav-heading: clamp(2rem, 2.5vw + 1rem, 3rem);
  --section-heading: clamp(1.5rem, 1.8vw + 1rem, 2.2rem);
  --nav-link: clamp(1rem, 1vw + 0.5rem, 1.25rem);
  --regular-text: clamp(0.875rem, 0.5vw + 0.5rem, 1rem);
  --regular-text-color: #757575;
}

a,
li {
  all: unset;
}

a:hover {
  cursor: pointer;
  border-bottom: 1px solid #474747;
}

body {
  font-family: "open sans";
  margin: 0;
  padding: 0;
}

body > .developer {
  position: absolute;
  margin: 3vh 3vw;
  z-index: 111;
}

nav {
  padding: 0 15vw;
  top: 0;
  z-index: 100;
  background: var(--color-bg);
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-size: var(--nav-heading);
  font-weight: bold;
}

span#navHeading {
  color: var(--color-primary);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  color: #474747;
  display: block;
  padding: 1rem 2rem;
  font-size: var(--nav-link);
  text-align: center;
  margin-left: 1rem;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: auto 0;
}
p {
  color: var(--regular-text-color);
}

button {
  border: unset;
}

.hero-buttons {
  display: flex;
  gap: 2rem;
}

.btn {
  background-color: #fd6e0a;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.download-btn:hover {
  background-color: #e5660a;
}

.contact-btn {
  background-color: #ffffff;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

.contact-btn:hover {
  background-color: #f8f8f8;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.btn .fa-solid {
  font-size: 1.25rem;
}

.fa-phone {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fd6e0a;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
  margin: 1rem;
}

.skills .card {
  width: 25%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
}

.skill-detail {
  text-align: left;
}

.card img {
  left: 0;
  top: 0;
}

#hero {
  display: flex;

  padding-left: 15vw;
  padding-right: 0;
  background: var(--color-bg);
  justify-content: space-between;
}
.hero-text {
  max-width: 768px;
  width: 40%;
}

.greeting {
  font-size: var(--nav-heading);
  font-weight: 600;
}

.hero-name {
  font-size: var(--hero-name);
}

.hero-image {
  width: 60%;
  height: auto;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: auto;
}

#contact,
#portfolio {
  max-width: 1280px;
  margin: 0 auto;
}

#about {
  margin: 2rem 0;
  padding: clamp(2rem, 8vw, 13rem);
  background: var(--color-bg);
}

#about .section {
  background: white;
  border: 1px solid black;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-value {
  font-weight: bold;
  color: #474747;
}

.section {
  text-align: center;
}

.section.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading h2 {
  margin-top: 10rem;
  font-size: var(--section-heading);
  font-weight: bold;
}

#about-heading {
  margin-top: unset;
}

.section-body,
.ed-ex {
  display: flex;
  justify-content: space-between;
}

.ed-ex-heading {
  margin-top: 5rem;
  padding: 0 3rem;
  font-size: 1.7rem;
}

.ed-ex .cards {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}

.ed-ex .card {
  border-bottom: 2px solid #d1d1d1;
  text-align: left;
}

.ed-ex .card:last-child {
  border-bottom: unset;
}

.ed-ex .card h3 {
  margin: unset;
  font-size: 1.6rem;
}

.ed-ex .card .card-head {
  margin-bottom: 0.6rem;
}

.ed-ex .card .card-head p {
  font-weight: 600;
  font-size: var(--nav-link);
}

#contact {
  margin: 10rem auto;
  background: var(--color-bg);
  display: flex;

  gap: 2rem;
  padding: 0 15%;
  justify-content: space-between;
}

.social-media,
.email {
  width: 40%;
  padding: 0 2rem;
  margin: 2rem;
}

.email {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  display: block;
  border: unset;
  margin: 1rem 0;
  padding: 1rem 2rem;
}

input#messege {
  height: 8vh;
}

@media (max-width: 1440px) {
  #hero {
    flex-direction: column;
    padding-left: unset;
  }

  .hero-text {
    width: 100%;
    margin: 0 auto;
  }

  .hero-image {
    width: 70%;
    margin: auto;
  }

  .developer {
    display: none;
  }
}

@media (max-width: 1024px) {
  #hero {
    flex-direction: column;
    height: unset;
    padding: 0 2rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-buttons {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .hero-image,
  .developer {
    display: none;
  }

  .hero-text {
    order: 2;
    width: 100%;
  }

  .section-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .skills .card {
    width: unset;
    display: unset;
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px; /* offscreen */
    height: 100%;
    width: 250px;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 20px;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
    display: none;
  }
  .nav-links li {
    margin: 15px 0;
  }

  .hamburger {
    display: block;
  }

  .nav-links.active {
    right: 0;
    display: flex;
    height: fit-content;
  }
}

@media (max-width: 600px) {
  .section-body {
    display: flex;
    flex-direction: column;
  }

  .hero-buttons {
    flex-direction: column;
  }
  .hero-buttons button {
    width: 100%;
  }

  .ed-ex {
    flex-direction: column;
  }

  #contact {
    flex-direction: column-reverse;
  }

  #contact > div {
    width: 70%;
  }
}
